body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
}

.contenedor {
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

.header {
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 25px;
}

.menu {
    width: 20%;
    background-color: #e5e7eb;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    background-color: #2563eb;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
}

ul li a:hover {
    background-color: #1e40af;
}

.seccion {
    padding: 15px;
}

.box {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
}

.footer {
    background-color: #2563eb;
    color: white;
    text-align: center;
    padding: 15px;
}

